/* 
* Skeleton V1.0.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 5/20/2011
*/

/* Table of Content
==================================================
	#Site Styles
	
	
	#Page Styles
	#Media Queries
	#Font-Face */
	
body { 
	background: #f1f1f1;
	font-family: "Lucida Grande", "Verdana", "Gargi_1.7", "Jamrul", "Garuda", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#content {
	background: #fff;
	border: 4px solid #B0ECEE;
	padding: 40px;
	width: 880px;
	color: #000;
	margin-top: 80px;
	padding-top: 25px;
}



#content h1 {
	font-family: arial;
	font-weight: bolder;
	font-size: 24px;
	margin-bottom: 5px;
}
a.twitter {
	display: block;
	text-indent: -9999px;
	background: url(../images/signin_twitter.png) no-repeat;
	width: 150px;
	height: 24px;
}

a.twitter:hover {
	background-position: 0 -24px;
}

a.twitter:active {
	background-position: 0 -48px;
}

ul#attendees {
	margin-top: 100px;
	clear: both;
	float: left;
}

ul#attendees li {
	float: left;
	position: relative;
	margin-right: 24px;
	margin-bottom: 70px
}

ul#attendees li img {
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
}


.bubble .top{
	background: url(../images/speechbubble_r1_c1_s1.png) no-repeat;
	position: absolute;
	width: 129px;
	height: 9px;
	top:-60px;
}

.bubble .speech {
	top: -51px;
	width: 110px;
	padding-right: 3px;
	background: url(../images/speechbubble_r2_c1_s1.png) repeat-y;
	position: absolute;
	padding-left: 13px;
}

.bubble .bottom{
	background: url(../images/speechbubble_r3_c1_s1.png) no-repeat;
	position: absolute;
	width: 129px;
	height: 30px;
	top:-15px;
}

ul#attendees li span.bubble {
	position: absolute;
	background: url(../images/speechbubble.png) no-repeat;
	width: 129px;
	height: 60px;
	top: -43px;
	left: -3px;
	padding-left: 15px;
	padding-top: 10px;
}

.status textarea {
	border: 2px solid #ccc;
	font-size: 16px;
	color: #000;
	padding: 10px;
	width: 450px;
	margin-bottom: 10px;
}

.status {
	text-align: right;
	width: 475px;
	float: left;
}

.status h1 {
	text-align: left;
}

.status input.button{
	font-size: 16px;
}
.my-status {
	float: right;
	width: 370px;
	margin-top: 50px;
	position: relative;
}

.my-status .bubble {
	position: absolute;
	bottom: 100px;
	left: 100px;
}

.my-status .bubble .bottom {
	top: -9px;
}
.my-status img {
	border:1px solid #ccc
}


/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
	
	/* iPad Portrait/Browser */
	@media only screen and (min-width: 768px) and (max-width: 991px) {}
	
	/* Mobile/Browser */
	@media only screen and (max-width: 767px) {}
	
	/* Mobile Landscape/Browser */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}
	
	/* Anything smaller than standard 960 */
	@media only screen and (max-width: 959px) {}
	
	/* iPad Portrait Only */
	@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {}
	
	/* Mobile Only */
	@media only screen and (max-width: 767px) and (max-device-width: 1000px) {}
	
	/* Mobile Landscape Only */
	@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file 
		Just create a "fonts" folder at the root, 
		copy your FontName into code below and remove
		comment brackets */
		
/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/