{% extends 'base.html' %}
{% block content %}
  <div class="container">
  <a id="logo" href="/">Campr</a>
  <div id="tagline">
    <h1>People Powered <br />Event Dashboard</h1>
    <p>The missing piece of the event experience: <br />learn a little about who's there so you can start a conversation...</p>
    <a href="http://eepurl.com/gsE65" class="button">Join Early Beta</a>
    <hr>
    <form id="checkin-now" action="#">
        <h3>Check into the event you're at:</h3>
        <label for="slug">Event Slug
            <input type="text" id="slug" name="slug">
            <input type="submit" value="Check In" class="button">
        </label>
    </form>
  </div>
</div>
{% comment %}
{% for event in events %}
    <p><a href="/events/{{ event.id }}/checkin">{{ event.name }}</a></p>
{% endfor %}
{% endcomment %}
{% endblock %}
