{% extends 'base.html' %}
{% block content %}
  <div class="container">
  <a id="logo" href="/">Campr</a>
  <div id="tagline">
    <h1>People Powered <br />Event Dashboard</h1>
    <p>The missing piece of the event experience: <br />knowing who were there and what was on their mind.</p>
    <a href="http://eepurl.com/gsE65" class="button">Join Early Beta</a>
  </div>
</div>
{% comment %}
{% for event in events %}
    <p><a href="/events/{{ event.id }}/checkin">{{ event.name }}</a></p>
{% endfor %}
{% endcomment %}
{% endblock %}
