{% extends 'base.html' %}

{% block content %}

<div id="event-header">
  <h1>{{ event.name }}</h1>
  <p>{{ event.description|default:"Event description here." }}</p>
  <div class="clear"></div>
</div>

<div id="focus">
  <ul id="checkins">
  {% for c in checkins %}
    <li class="checkin" id="{{ c.user.id }}">
    <img src="{{ c.profile_image_url }}"/>
    <div class="checkin-name"><a href="http://twitter.com/{{ c.user.username }}">@{{ c.user.username }}</a></div>
    <div class="twipsy-wrapper">
      <div class="twipsy right">
        <div class="twipsy-arrow"></div>
          <div class="twipsy-inner">
            {{ c.latest_message|default:"Well, I haven't update my status yet." }}
          </div>
        </div>
      </div>
  {% endfor %}
  </ul>
  <div class="clear"></div>
</div>

<div id="my-status">
  <h2>Hey @{{ checkin.user.username }}, what's on your mind?</h2>
  <img src="{{ checkin.profile_image_url }}" />
  <form id="update-status" action="/api/events/{{ event.id }}/messages/">
    <textarea name="message" placeholder="{{ checkin.latest_message|default:"e.g. I'm looking for a web developer." }}"></textarea>
    <input class="button" type="submit" value="Update" />
  </form>
  <a id="logo-power" href="/">Campr</a>
  <a class="logout" href="/accounts/logout/">Logout &raquo;</a>
</div>

{% endblock %}
