<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Hackweekend Campr</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	
	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/base.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/skeleton.css">
	<link rel="stylesheet" href="{{ MEDIA_URL }}stylesheets/layout.css">
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ MEDIA_URL }}images/favicon.ico">
	<link rel="apple-touch-icon" href="{{ MEDIA_URL }}images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ MEDIA_URL }}images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="{{ MEDIA_URL }}images/apple-touch-icon-114x114.png" />
	
</head>
<body>
<div id="header">
  <h1 class="top-title">Hackweekend<br /><span>30 - 31st July 2011</span></h1>
</div>
<div id="top-bar" class="container">
  <div class="fl"><a href="/" class="logo"><img src="{{ MEDIA_URL }}images/powered-by.png" /></a></div>
  {% if username %}
  <div class="fr">Welcome @{{ username }} <a href="/accounts/logout">(Sign Out)</a></div>
  {% endif %}
</div>
<div id="content" class="container">
    {% block content %}{% endblock %}
	<!-- JS
	================================================== -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='{{ MEDIA_URL }}javascripts/jquery-1.5.1.min.js'>\x3C/script>")</script>
	<script src="{{ MEDIA_URL }}javascripts/app.js"></script>

<!-- End Document
================================================== -->
</body>
</html>
